.table {
  border: solid 1px blue
}

.header {
  border-bottom: solid 3px red;
  background: aliceblue;
  color: black;
  font-weight: bold
}

.data {
  padding: 10px;
  border: solid 1px gray;
  background:#fff;
}